.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.circle-row {
  display: flex;
  justify-content: center;
  gap: 20px; 
} 

.incident-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 30px; 
}

.white-square {
  width: 140px;
  height: 140px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(83, 77, 77, 0.5);
  box-shadow: inset -5px -5px #52d0f0e7;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
}

.white-title-square {
  width: 140px;
  height: 40px;
  box-shadow: 0 0 10px rgba(177, 167, 167, 0.1);
  background-color: rgba(143, 132, 132, 0.5);
  box-shadow: inset -5px -5px #52d0f0e7;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.incident-count {
  width: 90px;
  height:90px;
  border: 10px solid transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.incident-title {
  font-size: 17px;
  font-weight: bold;
  color: white;
}
.button{
  color: black;
  display: flex;
  position: relative;
  margin-top: 10px;
  margin-right: 1100px;
  margin-bottom: 50px;
}
.chart-container {
  display: flex; 
  justify-content: space-between; 
 align-items: center; 
}


.charts-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
  max-width: 1200px;
}


.line-graph-container {
  width: 48%; 
}


.priority-chart-container {
  width: 48%; 
  margin-left: 60px;
}

